.bubble {
  width: 150px;
  position: absolute;
  margin-left: 23cm;
}

container2 {
  float: right;
  position: relative;
  display: inline-block;
}

em {
  color: #ed4e4e;
}

p {
  margin-top: 7%;
}
#result{
  display: none;
}
